body {
  background-image: url("./images/silk.avif");
  background-size: cover;
}

main {
  display: grid;
  width: auto;
  height: 1000px;
  margin: 3rem auto;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.picture1 {
  margin-right: 2rem;
  position: relative;
  margin-right: 5rem;
  height: auto;
  width: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#divmain {
  position: relative;
  text-align: center;
  border: solid rgba(236, 235, 226, 0.956) 15px;
  border-radius: 40px;
  background-color: rgba(236, 235, 226, 0.5);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  width: 600px;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: auto;
}

.picture2 {
  position: relative;
  margin-right: 3rem;
  height: auto;
  width: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

p {
  color: rgba(255, 255, 255, 0.859);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  margin: 3rem 3rem 3rem 3rem;
}

#important {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

#header {
  position: relative;
  text-align: center;
  border: double rgba(236, 235, 226, 0.956) 8px;
  border-radius: 40px;
  background-color: rgba(236, 235, 226, 0.5);
  color: rgba(255, 255, 255, 0.859);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

#footer {
  border: double rgba(236, 235, 226, 0.956) 8px;
  text-align: center;
  font-size: 2rem;
  color: rgb(236, 235, 226);
  background-color: rgba(236, 235, 226, 0.499);

  h2 {
    color: rgba(255, 255, 255, 0.859);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.5rem;
    margin: 3rem 3rem 3rem 3rem;
  }

  #divbutton {
    padding: 100px;
    border: 2rem;
    border-style: dotted;
    float: left;
    font-size: 3rem;
  }

  ol {
    text-align: left;
    color: rgba(255, 255, 255, 0.859);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.5rem;
  }
  ul {
    text-align: left;
    color: rgba(255, 255, 255, 0.859);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.5rem;
    margin: 3rem 3rem 3rem 3rem;
    list-style-type: none;
  }
}
