

p {color: rgba(236, 235, 226, 0.956);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1rem;}

.lorem {color: seagreen}

body {background-image: url('./silk.avif');background-size: cover;}

#important {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1rem;}

#divmain {float: center;margin-top: 10px;margin-left: 250px;margin-right: 250px;margin-bottom: 10px;text-align: center;border: solid rgba(236, 235, 226, 0.956) 25px;border-radius: 40px }

#header {text-align:center; border: double rgba(236, 235, 226, 0.956) 8px;border-radius: 40px; }

#footer {border: double rgba(236, 235, 226, 0.956) 8px;}

header h1 {color: rgba(236, 235, 226, 0.956);font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

h2 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 2rem;color: rgba(236, 235, 226, 0.956);}

.button1 {float: left;margin-top: 10px;margin-left: 50px;margin-right: 50px;margin-bottom: 10px;}
.button2 {float: right;margin-top: 10px;margin-left: 50px;margin-right: 50px;margin-bottom: 10px;}

ol {text-align: left;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: rgba(236, 235, 226, 0.956);}
ul {text-align: left;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: rgba(236, 235, 226, 0.956);}