p {color: aqua;}

.lorem {color: seagreen}

body {background-color: black;}

#important {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1rem;}

#footer {border: dotted red 24px;}